/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'https://fonts.googleapis.com/css?family=Oswald';

/*FONT RULES*/
/*font-family: 'Oswald', sans-serif;*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	/*body {
		max-width: 100%;
		font-size: .25em;
	}
	.container {
		max-width: 75%;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1em;
	}
	.header img {
		width: 150px;
	}*/
	#social img {
		width: 10px;
	}

	#social li {
	display: inline-block;
	margin: 0 5px;
	}
}


body {
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #fe5861;
}

a {
	color: ##fe5861;
}


.container {
	max-width: 570px;
	margin: 0 auto;
	padding: 20px 20px;
}

#menu {
background: #f857a6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f857a6 , #ff5858); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f857a6 , #ff5858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
padding: 10px 0;
}

#menu h2 {
	color: white;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;

}
#menu img {
	width: 20px;
}

.header {
	padding-bottom: 25px;


}

.header h1 {
	font-size: 3em;
	float: left;
	margin-top: 75px;

}

.clear {
	clear: both;
}

.header h1 span {
	font-size: .75em;
}

.header img {
	float: right;
	margin-bottom: 50px;
}


#bio {
	padding-bottom: 75px;
	line-height: 1.5;
}

#bio a {
	text-decoration: none;
	color: #ed4489
}

.cv {
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}

.cv img {
	width: 40px;
}

#social {
	list-style: none;
	text-align: center;

}

#social li {
	display: inline-block;
	margin: 0 15px;
}

#social img {
	width: 40px;
	/*height*/
}

#social a:hover {
	color: #fe5861;;
}

.skills {
	line-height: 2;
	margin-bottom: 200px;
	padding-bottom: 100px;
}

.skills h2 {
	text-align: center;
}

.skills-list {
	text-decoration: none;
	float: left;
}

.skills-list img {
	width: 20px;
}

.skills-hearts{
	float: right
}
.skills-hearts img {
	width: 20px;
}









